.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    background-color: rgb(31, 31, 31);
    color: white;
}

.logo {
    display: flex;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    background-color: transparent;
    color: rgb(255, 0, 0);
    font-size: 5rem;
    font-weight: bold;
}

.logo span {
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-title {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
}

.login-form input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    padding: 5px;
    height: 40px;
    border: none;
    outline: none;
}


.login-button {
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 2rem;
}

.login-button input {
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    transition: 0.5s;
}

.login-button input:hover {
    background-color: red;
}

.login-text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.login-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.brand-logo {
    margin: 5px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.register-button {
    color: white;
    font-size: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 500px;
}

.register-form input {
    width: 100%;
}
